# Predicting Urban Development

In [2]:
import numpy as np
from pathlib import Path
from collections import Counter

In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [49]:
df = pd.read_csv(Path('Project_Folder/home_candidates_update.csv'))
df.head()

,Unnamed: 0,zpid,city,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Candidate,avgSchoolRating,latest_saleyear,propertyTaxRate
0,9.0,83827468.0,del valle,78617.0,Single Family,2013.0,194800.0,1.0,1.200000,0.0,3.000000,2018,1.98
1,11.0,241930967.0,del valle,78617.0,Single Family,2016.0,250000.0,1.0,1.200000,0.0,3.000000,2019,1.98
2,12.0,69808966.0,del valle,78617.0,Single Family,2005.0,239900.0,9.0,0.633333,0.0,3.333333,2020,1.98
3,13.0,64520966.0,del valle,78617.0,Single Family,2003.0,200000.0,1.0,1.833333,0.0,3.000000,2018,1.98
4,14.0,83813460.0,del valle,78617.0,Single Family,2010.0,131679.0,5.0,1.233333,0.0,3.000000,2020,1.98

In [50]:
# Drop unneeded columns
df = df.drop(columns=['zpid','city', 'homeType']).dropna()
df.head()

,Unnamed: 0,zipcode,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Candidate,avgSchoolRating,latest_saleyear,propertyTaxRate
0,9.0,78617.0,2013.0,194800.0,1.0,1.200000,0.0,3.000000,2018,1.98
1,11.0,78617.0,2016.0,250000.0,1.0,1.200000,0.0,3.000000,2019,1.98
2,12.0,78617.0,2005.0,239900.0,9.0,0.633333,0.0,3.333333,2020,1.98
3,13.0,78617.0,2003.0,200000.0,1.0,1.833333,0.0,3.000000,2018,1.98
4,14.0,78617.0,2010.0,131679.0,5.0,1.233333,0.0,3.000000,2020,1.98

In [51]:
df.count()

Unnamed: 0           13325
zipcode              13325
yearBuilt            13325
latestPrice          13325
numPriceChanges      13325
avgSchoolDistance    13325
Candidate            13325
avgSchoolRating      13325
latest_saleyear      13325
propertyTaxRate      13325
dtype: int64

In [52]:
X = pd.get_dummies(df.drop(columns='Candidate'))
y = df.Candidate
X.head()

,Unnamed: 0,zipcode,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,avgSchoolRating,latest_saleyear,propertyTaxRate
0,9.0,78617.0,2013.0,194800.0,1.0,1.200000,3.000000,2018,1.98
1,11.0,78617.0,2016.0,250000.0,1.0,1.200000,3.000000,2019,1.98
2,12.0,78617.0,2005.0,239900.0,9.0,0.633333,3.333333,2020,1.98
3,13.0,78617.0,2003.0,200000.0,1.0,1.833333,3.000000,2018,1.98
4,14.0,78617.0,2010.0,131679.0,5.0,1.233333,3.000000,2020,1.98

In [53]:
X.describe()

,Unnamed: 0,zipcode,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,avgSchoolRating,latest_saleyear,propertyTaxRate
count,13325.000000,13325.000000,13325.000000,1.332500e+04,13325.000000,13325.000000,13325.000000,13325.000000,13325.000000
mean,8099.897261,78736.484728,1986.617186,5.002595e+05,3.002402,1.682905,5.751427,2019.082402,1.995893
std,4291.263341,19.755482,21.918177,4.125783e+05,2.464944,0.917098,1.895880,0.813589,0.056141
min,0.000000,78617.000000,1905.000000,5.800000e+03,1.000000,0.266667,2.333333,2018.000000,1.980000
25%,4344.000000,78726.000000,1972.000000,3.000000e+05,1.000000,1.066667,4.000000,2018.000000,1.980000
50%,8263.000000,78744.000000,1988.000000,3.990000e+05,2.000000,1.433333,5.666667,2019.000000,1.980000
75%,11802.000000,78749.000000,2005.000000,5.520000e+05,4.000000,2.066667,7.000000,2020.000000,1.980000
max,15170.000000,78759.000000,2020.000000,1.300000e+07,23.000000,7.200000,9.500000,2021.000000,2.210000

In [54]:
# Check the balance of our target values
y.value_counts()

1.0    7241
0.0    6084
Name: Candidate, dtype: int64

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [56]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
# Instantiate the model
ros = RandomOverSampler(random_state=1)
# Resample the targets
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0.0: 5430, 1.0: 5430})

In [57]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='saga', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\steve\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(random_state=1, solver='saga')

In [59]:
y_pred = model.predict(X_test)

In [60]:

# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[ 714,  807],
       [ 737, 1074]], dtype=int64)

In [61]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

        0.0       0.49      0.47      0.59      0.48      0.53      0.27      1521
        1.0       0.57      0.59      0.47      0.58      0.53      0.28      1811

avg / total       0.53      0.54      0.53      0.54      0.53      0.28      3332

## Making Predictions

In [64]:
# Calculate predictions
model.score(X_test, y_test)

0.5366146458583433

In [65]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5312352629177163