# Predicting Urban Development

In [144]:
import numpy as np
from pathlib import Path
from collections import Counter

In [145]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [146]:
df = pd.read_csv(Path('Project_Folder/home_candidates_update.csv'))
df.head()

,Unnamed: 0,zpid,city,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Candidate,avgSchoolRating,latest_saleyear,propertyTaxRate
0,9.0,83827468.0,del valle,78617.0,Single Family,2013.0,194800.0,1.0,1.200000,0.0,3.000000,2018,1.98
1,11.0,241930967.0,del valle,78617.0,Single Family,2016.0,250000.0,1.0,1.200000,0.0,3.000000,2019,1.98
2,12.0,69808966.0,del valle,78617.0,Single Family,2005.0,239900.0,9.0,0.633333,0.0,3.333333,2020,1.98
3,13.0,64520966.0,del valle,78617.0,Single Family,2003.0,200000.0,1.0,1.833333,0.0,3.000000,2018,1.98
4,14.0,83813460.0,del valle,78617.0,Single Family,2010.0,131679.0,5.0,1.233333,0.0,3.000000,2020,1.98

In [147]:
# Drop unneeded columns
df = df.drop(columns=['zpid','city']).dropna()
df.head()

,Unnamed: 0,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Candidate,avgSchoolRating,latest_saleyear,propertyTaxRate
0,9.0,78617.0,Single Family,2013.0,194800.0,1.0,1.200000,0.0,3.000000,2018,1.98
1,11.0,78617.0,Single Family,2016.0,250000.0,1.0,1.200000,0.0,3.000000,2019,1.98
2,12.0,78617.0,Single Family,2005.0,239900.0,9.0,0.633333,0.0,3.333333,2020,1.98
3,13.0,78617.0,Single Family,2003.0,200000.0,1.0,1.833333,0.0,3.000000,2018,1.98
4,14.0,78617.0,Single Family,2010.0,131679.0,5.0,1.233333,0.0,3.000000,2020,1.98

In [148]:
# Encode categorical variables
df = pd.get_dummies(df, columns=['zipcode', 'homeType'])
df.head()

,Unnamed: 0,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Candidate,avgSchoolRating,latest_saleyear,propertyTaxRate,zipcode_78617.0,...,homeType_Apartment,homeType_Condo,homeType_Mobile / Manufactured,homeType_MultiFamily,homeType_Multiple Occupancy,homeType_Other,homeType_Residential,homeType_Single Family,homeType_Townhouse,homeType_Vacant Land
0,9.0,2013.0,194800.0,1.0,1.200000,0.0,3.000000,2018,1.98,1,...,0,0,0,0,0,0,0,1,0,0
1,11.0,2016.0,250000.0,1.0,1.200000,0.0,3.000000,2019,1.98,1,...,0,0,0,0,0,0,0,1,0,0
2,12.0,2005.0,239900.0,9.0,0.633333,0.0,3.333333,2020,1.98,1,...,0,0,0,0,0,0,0,1,0,0
3,13.0,2003.0,200000.0,1.0,1.833333,0.0,3.000000,2018,1.98,1,...,0,0,0,0,0,0,0,1,0,0
4,14.0,2010.0,131679.0,5.0,1.233333,0.0,3.000000,2020,1.98,1,...,0,0,0,0,0,0,0,1,0,0

In [149]:
df.count()

Unnamed: 0                        13325
yearBuilt                         13325
latestPrice                       13325
numPriceChanges                   13325
avgSchoolDistance                 13325
Candidate                         13325
avgSchoolRating                   13325
latest_saleyear                   13325
propertyTaxRate                   13325
zipcode_78617.0                   13325
zipcode_78652.0                   13325
zipcode_78653.0                   13325
zipcode_78660.0                   13325
zipcode_78701.0                   13325
zipcode_78702.0                   13325
zipcode_78703.0                   13325
zipcode_78704.0                   13325
zipcode_78705.0                   13325
zipcode_78717.0                   13325
zipcode_78721.0                   13325
zipcode_78722.0                   13325
zipcode_78723.0                   13325
zipcode_78724.0                   13325
zipcode_78726.0                   13325
zipcode_78727.0                   13325
zipcode_78729.0                   13325
zipcode_78730.0                   13325
zipcode_78731.0                   13325
zipcode_78735.0                   13325
zipcode_78736.0                   13325
zipcode_78739.0                   13325
zipcode_78741.0                   13325
zipcode_78744.0                   13325
zipcode_78745.0                   13325
zipcode_78746.0                   13325
zipcode_78747.0                   13325
zipcode_78748.0                   13325
zipcode_78749.0                   13325
zipcode_78750.0                   13325
zipcode_78751.0                   13325
zipcode_78752.0                   13325
zipcode_78753.0                   13325
zipcode_78754.0                   13325
zipcode_78756.0                   13325
zipcode_78757.0                   13325
zipcode_78758.0                   13325
zipcode_78759.0                   13325
homeType_Apartment                13325
homeType_Condo                    13325
homeType_Mobile / Manufactured    13325
homeType_MultiFamily              13325
homeType_Multiple Occupancy       13325
homeType_Other                    13325
homeType_Residential              13325
homeType_Single Family            13325
homeType_Townhouse                13325
homeType_Vacant Land              13325
dtype: int64

In [150]:
# Define the features
X = df.drop('Candidate', axis=1)

# Define the target
y = df['Candidate'].values
y[:5]

array([0., 0., 0., 0., 0.])

In [151]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, stratify=y)

In [152]:
# Determine the shape of our training and testing sets
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(9993, 56)
(3332, 56)
(9993,)
(3332,)

In [153]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
# Instantiate the model
ros = RandomOverSampler(random_state=1)
# Resample the targets
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0.0: 5430, 1.0: 5430})

In [154]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='saga', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\steve\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(random_state=1, solver='saga')

In [155]:
# Make predictions
y_pred = model.predict(X_test)

In [156]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

# Create the confusion matrix data frame
cm_df = pd.DataFrame(
        cm, index=['Actual 0', 'Actual 1'], columns=['Predicted 0', 'Predicted 1'])

cm_df

          Predicted 0  Predicted 1
Actual 0          432         1089
Actual 1          323         1488

In [157]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

        0.0       0.57      0.28      0.82      0.38      0.48      0.22      1521
        1.0       0.58      0.82      0.28      0.68      0.48      0.25      1811

avg / total       0.58      0.58      0.53      0.54      0.48      0.23      3332

## Making Predictions

In [158]:
# Calculate predictions
model.score(X_test, y_test)

0.5762304921968787

In [159]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5528345841814813