# Predicting Urban Development

In [38]:
import numpy as np
from pathlib import Path
from collections import Counter

In [39]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [40]:

df = pd.read_csv(Path('Project_Folder/home_candidates.csv'))
df.head()

,Unnamed: 0,zpid,city,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Candidate
0,0,111373431,pflugerville,78660,Single Family,2012,305000.0,5,1.266667,1
1,1,120900430,pflugerville,78660,Single Family,2013,295000.0,1,1.400000,1
2,2,2084491383,pflugerville,78660,Single Family,2018,256125.0,1,1.200000,1
3,3,120901374,pflugerville,78660,Single Family,2013,240000.0,4,1.400000,1
4,4,60134862,pflugerville,78660,Single Family,2002,239900.0,3,1.133333,1

In [41]:
# Create our Features
X = pd.get_dummies(df,columns=['zpid','city','zipcode','homeType','yearBuilt','latestPrice','numPriceChanges','avgSchoolDistance']).drop('Candidate', axis=1)

# Create our Target
y = df['Candidate']
X.head()

,Unnamed: 0,zpid_28584946,zpid_28585671,zpid_28585687,zpid_28587235,zpid_28587911,zpid_28587927,zpid_28587967,zpid_28587981,zpid_28589404,...,avgSchoolDistance_7.433333333333333,avgSchoolDistance_7.466666666666666,avgSchoolDistance_7.5,avgSchoolDistance_7.533333333333334,avgSchoolDistance_7.566666666666666,avgSchoolDistance_7.6,avgSchoolDistance_7.633333333333333,avgSchoolDistance_7.666666666666668,avgSchoolDistance_7.699999999999997,avgSchoolDistance_9.0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
X.describe()

,Unnamed: 0,zpid_28584946,zpid_28585671,zpid_28585687,zpid_28587235,zpid_28587911,zpid_28587927,zpid_28587967,zpid_28587981,zpid_28589404,...,avgSchoolDistance_7.433333333333333,avgSchoolDistance_7.466666666666666,avgSchoolDistance_7.5,avgSchoolDistance_7.533333333333334,avgSchoolDistance_7.566666666666666,avgSchoolDistance_7.6,avgSchoolDistance_7.633333333333333,avgSchoolDistance_7.666666666666668,avgSchoolDistance_7.699999999999997,avgSchoolDistance_9.0
count,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,...,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000
mean,7585.000000,0.000066,0.000066,0.000066,0.000066,0.000066,0.000066,0.000066,0.000066,0.000066,...,0.000066,0.000066,0.000198,0.000132,0.000198,0.000198,0.000132,0.000198,0.000066,0.000066
std,4379.634802,0.008119,0.008119,0.008119,0.008119,0.008119,0.008119,0.008119,0.008119,0.008119,...,0.008119,0.008119,0.014061,0.011481,0.014061,0.014061,0.011481,0.014061,0.008119,0.008119
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3792.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7585.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,11377.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,15170.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [46]:
# Check the balance of our target values
y.value_counts()

0    9499
1    5672
Name: Candidate, dtype: int64

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [45]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
# Instantiate the model
ros = RandomOverSampler(random_state=1)
# Resample the targets
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 7124, 1: 7124})

In [34]:
# from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='saga',
                                max_iter=500,
                                random_state=1)

In [35]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(solver='saga', random_state=1)

# Fit
logreg.fit(X_resampled, y_resampled)

C:\Users\steve\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(random_state=1, solver='saga')

## Making Predictions

In [36]:
# Calculate predictions
y_pred = logreg.predict(X_test)

In [37]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.5039263603295969