# Predicting Urban Development

#### Using Data for City of Austin.  Data includes building permit data over time, home prices, median  household income over time to predict what areas in Austin are attractive for investment development.

In [1]:
import numpy as np
from pathlib import Path
from collections import Counter

In [2]:
from path import Path
import pandas as pd

In [4]:

df = pd.read_csv(Path('Project_Folder/home_candidates.csv'))
df.head()

,Unnamed: 0,zpid,city,zipcode,homeType,yearBuilt,latestPrice,numPriceChanges,avgSchoolDistance,Candidate
0,0,111373431,pflugerville,78660,Single Family,2012,305000.0,5,1.266667,1
1,1,120900430,pflugerville,78660,Single Family,2013,295000.0,1,1.400000,1
2,2,2084491383,pflugerville,78660,Single Family,2018,256125.0,1,1.200000,1
3,3,120901374,pflugerville,78660,Single Family,2013,240000.0,4,1.400000,1
4,4,60134862,pflugerville,78660,Single Family,2002,239900.0,3,1.133333,1

## Separate the Features (x) from the Targets (y)

In [6]:
# Create our Features
X = pd.get_dummies(df,columns=['zipcode','yearBuilt','latestPrice','numPriceChanges','avgSchoolDistance']).drop('Candidate', axis=1)

# Create our Target
y = df['Candidate']
X.head()

,Unnamed: 0,zpid,city,homeType,zipcode_78617,zipcode_78619,zipcode_78652,zipcode_78653,zipcode_78660,zipcode_78701,...,avgSchoolDistance_7.433333333333333,avgSchoolDistance_7.466666666666666,avgSchoolDistance_7.5,avgSchoolDistance_7.533333333333334,avgSchoolDistance_7.566666666666666,avgSchoolDistance_7.6,avgSchoolDistance_7.633333333333333,avgSchoolDistance_7.666666666666668,avgSchoolDistance_7.699999999999997,avgSchoolDistance_9.0
0,0,111373431,pflugerville,Single Family,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,120900430,pflugerville,Single Family,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2084491383,pflugerville,Single Family,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3,120901374,pflugerville,Single Family,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,4,60134862,pflugerville,Single Family,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
X.describe()

,Unnamed: 0,zpid,zipcode_78617,zipcode_78619,zipcode_78652,zipcode_78653,zipcode_78660,zipcode_78701,zipcode_78702,zipcode_78703,...,avgSchoolDistance_7.433333333333333,avgSchoolDistance_7.466666666666666,avgSchoolDistance_7.5,avgSchoolDistance_7.533333333333334,avgSchoolDistance_7.566666666666666,avgSchoolDistance_7.6,avgSchoolDistance_7.633333333333333,avgSchoolDistance_7.666666666666668,avgSchoolDistance_7.699999999999997,avgSchoolDistance_9.0
count,15171.000000,1.517100e+04,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,...,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000
mean,7585.000000,1.044193e+08,0.005669,0.000791,0.000264,0.000264,0.002373,0.000527,0.026168,0.019906,...,0.000066,0.000066,0.000198,0.000132,0.000198,0.000198,0.000132,0.000198,0.000066,0.000066
std,4379.634802,3.179426e+08,0.075080,0.028114,0.016236,0.016236,0.048657,0.022958,0.159641,0.139683,...,0.008119,0.008119,0.014061,0.011481,0.014061,0.014061,0.011481,0.014061,0.008119,0.008119
min,0.000000,2.858495e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3792.500000,2.941115e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7585.000000,2.949441e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,11377.500000,7.033762e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,15170.000000,2.146313e+09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
# Check the balance of our target values
y.value_counts()

0    9499
1    5672
Name: Candidate, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

## Split our data into training and testing

In [ ]:
from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
# X_train.shape

## Create a Logistic Regression Model

In [ ]:
# from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

## Fit (train) or model using the training data

In [ ]:
# classifier.fit(X_train, y_train)

## Making Predictions

In [ ]:
#y_pred = classifier.predict(X_test)
#results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
#results.head(20)

In [ ]:
#y_pred = classifier.predict(X_test)
#results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
#results.head(20)